$navlinkColor: rgb(87, 183, 189);

.active-link {
    color: 'red'
}

.link {
    color: '#57b7bd';
    padding: '2px';
    padding-bottom: '4px';
    text-decoration: 'none';

    &:hover {
        font-size: 16px;
    }
     
}

button {
    border : .5px solid #57b7bd;
    border-radius: 20px; 
    background: #282c34;
    padding: 10px 25px;
    color: $navlinkColor;
    cursor : pointer;
    transition : .5s;

    &:hover {
        box-shadow: 0 1px 8px #57b7bd, 0 1px 1px #6049e6;  
        transition :.51s;
    }
}