$react-blue : #282c34;
$react-blue2: #61dafb;

.App {
  text-align: center;
}


header {
  background-color: $react-blue;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid green;

  nav {
    display: flex;
    justify-content : space-around;
    border: 1px solid red;
    width: 90%;

    a{
      color: $react-blue2;
      text-decoration: none;
    }

  }

}


