@mixin on-circle($item-count, $circle-size, $item-size) {
    position: relative;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;

    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $item-size;
        height: $item-size;
        // margin: -($item-size / 2);

        $angle : (360 / $item-count);
        $rotate : 0;

        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
                transform: 
                    rotate($rotate * 1deg)
                    translate($circle-size / 2)
                    rotate($rotate * -1deg)
            }

            $rotate: $rotate + $angle;
        }
    }
}

.coins {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    // border: 1px solid red;
    // @include on-circle(5046, 20rem, 6rem);

    div.coin {
        // border: 1px solid green;
        padding: 5px;
        margin: 5px;
    }
}