$react-blue : #282c34;
$react-blue2: #61dafb;
$navlinkColor: rgb(87, 183, 189);
$logoblue: #6049e6;

main {
    width: 100%;
}

.coin {
    background: $react-blue2;
    padding: 1rem 1rem;
    width: 5rem;
}

.forms {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items : center;

    input {
        border-radius: 5px;
        margin: 10px;
        height: 30px;
        width: 45%;
        text-align : center;
        font-size: 20px;
        border: 1px solid $react-blue2;
        background-color: $react-blue;
        color : #6049e6;
        padding: 20px;
    }

    .middleData {
        display: flex;
        flex-direction: column;
        width:50%;
        align-self : center;
        border : 1px solid $logoblue;
        border-radius: 30px;
        padding : 20px;
        // background-color : $react-blue2;
        color : $navlinkColor;
        font-size : 30px;
        margin: 20px;

        button {
            padding: 10px;
            margin: 10px;
            color : white;
            width: 25%;
            align-self : center;
            cursor : pointer;
        }
    }
}

.data {
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    border: 1px solid $navlinkColor;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    color : white;
    background-color : $react-blue;
    text-align: center;

    div {
        border-radius: 5px;
        color : $navlinkColor;
        
        font-size : 30px;
    }

   .welcome-message {
       font-weight: lighter;
       text-align : center;
       margin: 0 auto;
   }


}

.coins {
    display: flex;
    
    // flex-wrap: wrap;
    flex-direction: row;
    color: #6049e6;
    justify-content : space-around;

    // border: 1px solid green;
    // @include on-circle(5046, 20rem, 6rem);

    .left-coins {
        display: flex;
        flex-direction: column;
        // border: 1px solid green;
        padding: 5px;
        padding-left: 35px;
        margin: 5px;
        align-self: center;
    }

    .rightCoins.dropdown {
        .dropdown-content {
            position : absolute;
            right : 0px;
        }
    }

    .dropdown {
        // border : 1px solid green;

        button.dropbtn {
            color : white;
            border-radius : 0px;
            height: 50px;
            width : 150px;
            margin: 10px 45px;
            cursor : pointer;
            transition : 1s;
        }

        .dropdown-content {
            // border: 1px solid red;
            // display : none;
            visibility: hidden;
            opacity: 0;
            margin-right: 105px;
            transition: visibility 1s, opacity 1s linear;
            position : relative;
            background-color: black;
            // min-width: 160px;
            border: 1px solid $navlinkColor;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            div {
                // color : red;
                padding: 6px 8px;
                text-decoration: none;
                display: block;
                background-color : black;
                color: $navlinkColor;

            }
        }

        &:hover .dropdown-content {
            // display: block;
            visibility : visible;
           
            opacity: 1;
        }

        &:hover .dropbtn {
            // background-color: $react-blue2;
            // color : $react-blue;
            transition : .5s;
            box-shadow: 0 1px 1px #57b7bd, 0 1px 1px #6049e6;
            cursor: context-menu;
        }

        &:hover div {
            cursor : pointer;
        }
    }
}




